## This Velocity template file may be used to include text at the top of the
## plain-text body for all types of account status notifications.
##
## See the README.txt file in this directory for more information about
## customizing email message comments.
#getAttributeValue($account_entry, "cn", "full_name")
#if($full_name)
$full_name,
#end
