Berkeley DB JE Version 7.5.12
 nodeName=null allowCreate=true recoveryProgressListener=false classLoader=false customStats=false cacheSize=8053063 offHeapCacheSize=0 cacheMode=null txnNoSync=false txnWriteNoSync=false exceptionListener=false map={com.sleepycat.je.util.FileHandler.level=CONFIG, je.env.runCleaner=false, je.freeDisk=52428800, je.env.runCheckpointer=false, je.maxDisk=0, je.cleaner.minUtilization=25, je.checkpointer.wakeupInterval=60000000, je.cleaner.expunge=true, je.lock.timeout=10 SECONDS, je.checkpointer.bytesInterval=209715200, je.log.fileMax=10000000, je.lock.nLockTables=37, je.maxMemoryPercent=1, je.env.isTransactional=true, je.cleaner.minFileUtilization=20}
