Berkeley DB JE Version 7.5.12
 nodeName=null allowCreate=true recoveryProgressListener=true classLoader=false customStats=false cacheSize=289910292 offHeapCacheSize=0 cacheMode=DEFAULT txnNoSync=false txnWriteNoSync=false exceptionListener=false map={com.sleepycat.je.util.FileHandler.level=CONFIG, je.env.runCleaner=false, je.freeDisk=52428800, je.env.runCheckpointer=false, je.evictor.criticalPercentage=0, je.checkpointer.highPriority=false, je.maxDisk=0, je.cleaner.minUtilization=75, je.cleaner.expunge=true, je.lock.timeout=10 SECONDS, je.maxMemory=0, je.log.fileCacheSize=1000, je.log.fileMax=52428800, je.lock.nLockTables=19, je.maxMemoryPercent=36, je.env.isTransactional=true, je.env.sharedLatches=true, je.txn.durability=WRITE_NO_SYNC,NO_SYNC,SIMPLE_MAJORITY}
