<!DOCTYPE html>
#*
The server renders this HTML page in an end-user's browser to
terminate the user's partner sessions. This template is used in cases where
the user's federated session includes WS-Federation or OpenID Connect 
sessions, but no SAML 2 sessions. For WS-Federation sessions, each iframe
contains the results returned from the partner. For OpenID Connect sessions,
a small image is loaded for each of the OAuth client's registered logout URL's.

Depending on how this template is invoked, the $wreply parameter may contain
a redirect location. Before redirecting, the page waits until  
$minTimeToWaitMillis elapses and the window's onload event fires. However, 
logout endpoint redirects may cause the window's onload event to fire before 
the logout is complete for a given endpoint. If sessions are not being cleared 
correctly, it may be necessary to increase the $minTimeToWaitMillis timeout value. 

If logout endpoints are delayed in loading and the window's onload event
has not fired, the page redirects after $maxTimeToWaitMillis.

Velocity variables (identified by the $ character) are generated
at runtime by the server.

Change text or formatting as needed. Modifying Velocity statements
is not recommended as it may interfere with expected server behavior.
*#

<!-- template name: sourceid-wsfed-idp-signout-cleanup-template.html -->

#set( $messageKeyPrefix = "sourceid-wsfed-idp-signout-cleanup-template." )
#set( $minTimeToWaitMillis = 2000 )
#set( $maxTimeToWaitMillis = 5000 )

<html lang="$locale.getLanguage()" dir="ltr">
<head>
    <title>$templateMessages.getMessage($messageKeyPrefix, "signing.out")</title>
    <meta name="robots" content="noindex, nofollow" />
    <base href="$CurrentPingFedBaseURL"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <link rel="stylesheet" media="all" type="text/css" href="assets/css/main.css" />
</head>

<body>
    
    <script language="javascript">
#if ($wreply)
        var hasWreply = true;
#else
        var hasWreply = false;
#end
#if ($errorWreply)
        var hasErrorWreply = true;
#else
        var hasErrorWreply = false;
#end
        var idpLogoutSuccess = $idpLogoutSuccess,
            windowLoaded = false,
            minTimeReached = false,
            maxTimeReached = false,
            msgUpdated = false,
            imageLoadError = false;

        window.onload = function() {
            windowLoaded = true;
            checkStateTransition();
        }
        window.setTimeout(function() { 
            minTimeReached = true;
            checkStateTransition();
        }, $minTimeToWaitMillis);
        window.setTimeout(function() { 
            maxTimeReached = true;
            checkStateTransition();
        }, $maxTimeToWaitMillis);
        function handleImageLoadError() {
            imageLoadError = true;
        }
        function checkStateTransition() {
            if ((minTimeReached && windowLoaded) || maxTimeReached) {

                var errorOccurred = !idpLogoutSuccess || !windowLoaded || imageLoadError,
                    mssg = document.getElementById('mainMessage'),
                    title,
                    info;

                if (errorOccurred && hasErrorWreply) {
                    window.location.replace("$escape.forJavaScript($errorWreply)");
                } else if (!errorOccurred && hasWreply) {
                    window.location.replace("$escape.forJavaScript($wreply)");
                } else if (!msgUpdated) {
                    msgUpdated = true;

                    if (errorOccurred) {
                        title = "$templateMessages.getMessage($messageKeyPrefix, 'error.title')";
                        info = "$templateMessages.getMessage($messageKeyPrefix, 'error.info')";
                        mssg.className = "ping-error";
                    } else {
                        title = "$templateMessages.getMessage($messageKeyPrefix, 'title')";
                        info = "$templateMessages.getMessage($messageKeyPrefix, 'info.1')";
                    }

                    document.title = title;
                    document.getElementById('ping-header').innerHTML = title;
                    mssg.innerHTML = info;
                }
            }
        }
    </script>

    <div class="ping-container ping-large">
        
        <!-- 
        if there is a logo present in the 'company-logo' container,
        then 'has-logo' class should be added to 'ping-header' container.
        -->
        <div class="ping-header" id="ping-header">
            <span class="company-logo"><!-- client company logo here --></span>
            $templateMessages.getMessage($messageKeyPrefix, "signing.out")
        </div><!-- .ping-header -->
        
        <div class="ping-body-container">

            <table id="mainTable">
                <tr>
                    <td>
                        <div class="ping-messages">
                            <div id="mainMessage">
                                $templateMessages.getMessage($messageKeyPrefix, "signing.out")
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="signout-item">
                        #if($idpLogoutSuccess)
                            <div>
                                $templateMessages.getMessage($messageKeyPrefix, "info.2") <strong>$escape.escape($idpHost)</strong>
                            </div>
                        #else
                            <div class="ping-error">
                                $templateMessages.getMessage($messageKeyPrefix, "info.3", $escape.escape($idpHost))
                            </div>
                        #end
                    </td>
                </tr>

                #if( $hasSaml2Sp )
                    #foreach( $saml2SpId in $saml2SpList.keySet() )
                        <tr>
                            <td class="signout-item">
                                $templateMessages.getMessage($messageKeyPrefix, "info.5") <strong>$escape.escape($saml2SpList.get($saml2SpId))</strong>
                            </td>
                        </tr>
                    #end
                #end
                
	            #foreach( $idpEntityId in $wsfIdpList.keySet() )
	                <iframe class="ping-hidden" src="$escape.escape($wsfIdpList.get($idpEntityId))"></iframe>
	            #end

				#foreach( $spEntityId in $spList.keySet() )
        			<tr>
                		<td class="signout-item">
                    		$templateMessages.getMessage($messageKeyPrefix, "info.4") <strong>$escape.escape($spEntityId)</strong>
                            #* To make iframe information/content visible, change class from "ping-hidden" to "ping-visible" *#
                    		<iframe class="ping-hidden" src="$escape.escape($spList.get($spEntityId))"></iframe>
            			</td>
        			</tr>
				#end

            </table>

			#foreach ($oidcEndpoint in $oidcEndpointList)
        		<img src="$escape.escape($oidcEndpoint.value)" style="display: none" onerror="handleImageLoadError()">
			#end
            
        </div><!-- .ping-body-container -->
        
        <div class="ping-footer-container">
            <div class="ping-footer">
                <div class="ping-credits"></div>
            <div class="ping-copyright">$templateMessages.getMessage("global.footerMessage")</div>
            </div> <!-- .ping-footer -->
        </div> <!-- .ping-footer-container -->
        
    </div><!-- .ping-container -->
    
</body>
</html>
